* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: futura;
}

p { font-size: 20px; } /* 16px */
h4 { font-size: 1.125em; } /* 18px */
h3 { font-size: 1.3125em; } /* 21px */
h2 { font-size: 1.5em; } /* 24px */

hr {
    margin-top: 20px;
    margin-bottom: 10px;
}

.spacer-yellow {
    background-color: #eebc77;
    width: 100%;
    height: 50px;
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.2);
    position: relative;
}

.spacer-white {
    background-color: #ffeaae;
    width: 100%;
    height: 200px;
    /* box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.2); */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* --------------- Navigation Bar/Header (BEGIN) --------------- */

nav {
    background-color: #fbd796;
    margin: 0;
    /* overflow: hidden; */
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 4px;
    padding-bottom: 2px;
    position: fixed;
    top: 0;
    z-index: 1030;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
}

nav ul li a {
    float: right;
    color: #ffffff;
    text-align: center;
    display: block;
    padding: 18px 16px;
    padding-left: 25px;
    padding-right: 25px;
    text-decoration: none;
    font-size: 18px;
}

nav ul li:first-child {
    margin-right: auto;
}

nav ul li a:hover {
    background-color: #ffeaae;
    color: black;
}

nav .active {
    color: #DFE6DA;
    background-color: #9CAF88;
}

.logo {
    font-size: 20px;
}

/* Dropdown Menu */

.dropbtn {
    background-color: #eebc77;
    color: white;
    padding: 18px 16px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fbd796;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: center;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ffeaae;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #ffeaae;}

/* ---------------- Navigation Bar/Header (END) ---------------- */

/* ------------------------- Home Page ------------------------- */

.recipe-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 10px;
}

.home-image {
    width: 100%;
    height: 500px;
    background-position: center;
    background-size: cover;
    background-image: url(./recipes-images/rolling-dough.jpg);
    background-attachment: fixed;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-image h1 {
    font-size: 60px;
}

.recipe-block {
    background-color: #f9dba3;
    /* position: absolute; */
    /* overflow: hidden;
    height: auto;
    width: 100%;
    top: 0px; */
    display: flex;
    justify-content: space-between;
}

.home-carrot-cake {
    display: flex;
    width: 50%;
    height: 300px;
    background-position: center left;
    background-size: cover;
    background-image: url(./recipes-images/carrot-cake.jpg);
    background-attachment: fixed;
    color: white;
    float: left;
}

.home-cinnamon-rolls {
    display: flex;
    width: 50%;
    height: 300px;
    background-position: center right;
    background-size: cover;
    background-image: url(./recipes-images/cinnamon-rolls.jpg);
    background-attachment: fixed;
    color: white;
    float: right;
}

.home-choc-cookies {
    display: flex;
    width: 50%;
    height: 300px;
    background-position: center;
    background-size: cover;
    background-image: url(./recipes-images/chocolate-chip-cookies.jpg);
    background-attachment: fixed;
    color: white;
    float: left;
}

.text-right-align {
    display: flex;
    width: 50%;
    height: 300px;
    color: white;
    float: right;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.text-right-align h2 {
    font-size: 50px;
}

.text-right-align .recipe-button {
    color: #ffffff;
    background-color: #eebc77;
    display: block;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
    font-size: 30px;
}

.text-right-align .recipe-button:hover {
    background-color: #fef8e7;
    color: black;
}

.text-left-align {
    display: flex;
    width: 50%;
    height: 300px;
    color: white;
    float: left;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.text-left-align h2 {
    font-size: 50px;
}

.text-left-align .recipe-button {
    color: #ffffff;
    background-color: #eebc77;
    display: block;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
    font-size: 30px;
}

.text-left-align .recipe-button:hover {
    background-color: #fef8e7;
    color: black;
}

.about-button {
    color: #ffffff;
    background-color: #fbd796;
    display: block;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
    font-size: 30px;
}

.about-button:hover {
    background-color: #fef8e7;
    color: black;
}

/* ---------------------- Home Page (END) ---------------------- */

/* -------------------------- Footer -------------------------- */

footer {
    /* margin-top: 150px; */
    width: 100%;
    padding: 100px 15%;
    background-color: #fbd796;
    color: white;
    display: flex;
}

footer div {
    text-align: center;
}

footer div h3 {
    font-weight: 300;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

.col-1 {
    float: left;
    width: 50%;
}

.col-1 a {
    display: block;
    text-decoration: none;
    color: white;
    margin-bottom: 10px;
}

.col-2 {
    float: right;
    width: 50%;
}

.social-icons {
    margin-top: 30px;
}

.social-icons i {
    font-size: 22px;
    margin: 10px;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

/* ----------------------- Footer (END) ----------------------- */

/* ------------------------ Recipe Page ------------------------ */

.cake-top-image {
    width: 100%;
    height: 400px;
    background-position: 50% 70%;
    background-size: cover;
    background-image: url(./recipes-images/carrot-cake.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.roll-top-image {
    width: 100%;
    height: 400px;
    background-position: 50% 70%;
    background-size: cover;
    background-image: url(./recipes-images/cinnamon-rolls.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cookie-top-image {
    width: 100%;
    height: 400px;
    background-position: 50% 70%;
    background-size: cover;
    background-image: url(./recipes-images/chocolate-chip-cookies.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.recipe-title {
    background-color: #eebc77;
    width: 100%;
    height: auto;
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.2);
    color: white;
    text-align: left;
    justify-content: left;
    align-items: center;
    padding: 20px 50px;
    position: relative;
}

.recipe-title h2 {
    font-size: 20px;
}

.recipe-link {
    color: white;
}

.recipe-link:hover {
    background-color: #ffeaae;
    color: black;
}

.recipe-content-block {
    background-color: #f9dba3;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.recipe-content {
    background-color: white;
    width: 75%;
    padding: 20px 30px;
    color: black;
    text-align: left;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.recipe-content h1 {
    padding-top: 10px;
}

.recipe-content h3 {
    padding-top: 10px;
    padding-bottom: 5px;
}

.recipe-content h4 {
    padding-top: 10px;
    padding-bottom: 5px;
}

.recipe-content li {
    list-style-position: inside;
    font-size: 20px;
    /* padding-top: 1px;
    padding-bottom: 1px; */
    display: list-item;
    margin-left: 20px;
    margin-bottom: 0;
}

.recipe-content ol {
    padding-top: 10px;
    padding-bottom: 10px;
}

.recipe-content ol li {
    padding-top: 1px;
    padding-bottom: 1px;
}

.recipe-content ul li {
    padding-top: 1px;
    padding-bottom: 1px;
}

.recipe-content p {
    padding-top: 10px;
    padding-bottom: 10px;
}

.recipe-content img {
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* --------------------- Recipe Page (END) --------------------- */

.about-contact-title {
    background-color: #eebc77;
    width: 100%;
    height: 150px;
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.2);
    color: white;
    text-align: center;
    align-items: center;
    padding-top: 89px;
    position: relative;
}

.about-contact-title h2 {
    font-size: 20px;
}

.link-block {
    background-color: #f9dba3;
    height: auto;
}

.link-content {
    background-color: white;
    width: 75%;
    padding: 5px 20px;
    color: black;
    text-align: left;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.link-spacer {
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: white;
    width: 75%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
}

.link-button {
    color: #ffffff;
    background-color: #eebc77;
    display: block;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
    font-size: 30px;
    text-align: center;
}

.link-button:hover {
    background-color: #fef8e7;
    color: black;
}